* {
  margin 0;
  padding 0;
}

body {
  margin: 0;
}

.header {
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  border-bottom: solid 1px #c6c6c6;
  padding: 1rem 0;
  margin:auto;
}

.Long-Cotton-Gabardine {
  margin: 1rem 1rem 1rem 1rem;
  font-family: 'Lora', serif;
  line-height: 1.2;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: left;
  color: #111111;
}

.product-photo-slider {
  white-space: nowrap;
  overflow-x: scroll;
  font-size: 0;
}

.product-photo {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.product-option {
  padding: 0 1rem;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial';
  border-bottom: solid 1px #c6c6c6;
}

.product-properties {
  margin-top: 1rem;
  padding-bottom: 2.1rem;
  border-bottom: solid 1px #c6c6c6;
}

.product-pricing {
  display: flex;
  justify-content: space-between;
}

.item-110000 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.19;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.item-39428531 {
  margin: 0;
  margin-top: 4px;
  font-size: 0.75rem;
  font-family: 'Raleway';
  color: #171717;
  display: block;
}

.product-colour {
  margin: 1rem 0 0 0;
  font-family: 'Raleway';
  font-size: 0.75rem;
  color: #171717;
}

.colour-buttons {
  display: flex;
}

.use-black-button {
  background: #232122;
  margin: 1rem 0 0 0;
  display: block;
  padding: 1.2rem;
  border-radius: 100px;
  border: solid 1px #232122;
  cursor: pointer;
}

.use-honey-button {
  background-color: #cfa880;
  margin: 1rem 0 0 1rem;
  display: block;
  padding: 1.2rem;
  border-radius: 100px;
  border: solid 1px #232122;
  cursor: pointer;
}

.main-buttons {
  padding-top: 1rem;
}

.store-buttons-size {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem 6.375rem 1rem 6.4375rem;
  white-space: nowrap;
  background: #171717;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-family: 'Raleway';
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
}

.store-buttons-find {
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 6.3125rem 1rem 6.375rem;
  white-space: nowrap;
  background: #fff;
  border-radius: 2px;
  border: solid 1px #999999;
  font-family: 'Raleway';
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #171717;
}

.store-buttons-help {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding: 0;
  font-size: .75rem;
  text-align: center;
  font-family: 'Raleway';
  text-transform: uppercase;
  color: #171717;
  background: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}
.product-description-button {
  display: flex;
  margin: 0;
  padding: 1.9375rem 1rem 0 1rem;
  justify-content: space-between;
}

.product-description-content {
  display: block;
  padding: 2.1rem 1rem 0 1rem;
}

.discription-content {
  margin: 0;
  font-family: 'Lora';
  font-size: 14px;
  line-height: 1.72;
}

.discription-content:last-of-type {
    margin-bottom: 1.54rem;
}

.discription-content-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.discription-content-list-item {
  margin: 0;
  font-family: 'Lora';
  font-size: 14px;
  line-height: 1.72;
}

.discription-content-list-item:last-of-type {
  padding-bottom: 2rem;
}

.product-shipping {
  margin: 0;
  padding: 1.875rem 1rem;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #c6c6c6;
  border-bottom: solid 1px #c6c6c6;
}

.product-shipping-title {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
}

.product-description-title {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
  text-transform: uppercase;
}

.store-recomendation {
  display: block;
  padding: 3rem 1rem 0 1rem;
}

.recommendation-title {
  margin: 0;
  display: inline-block;
  white-space: normal;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Raleway';
  color: #171717;
  line-height: 1.19;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: solid 1px #171717;
}

.recommendation-menu {
  display: flex;
  padding-top: 1.5rem;
}

.recommendation-menu-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.recommendation-menu-card {
  max-width: 130px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.photo {
  width: 130px;
  height: 174px;
}

.recommendation-card-title {
  margin: 0.5rem 0 0.5rem 0;
  font-family: 'Lora';
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.19;
  text-align: left;
  color: #171717;
}

.recommendation-card-price {
  margin: 0 0 2rem 0;
  line-height: 1.17;
  color: #999999;
  font-weight: 400;
  font-size: 0.75rem;
  font-family: 'Raleway';
}

.recommendation-card-price-bottom {
  margin: 0;
  line-height: 1.17;
  color: #999999;
  font-weight: 400;
  font-size: 0.75rem;
  font-family: 'Raleway';
}

.store-suggestion {
  padding: 0 1rem;
}

.store-suggestion-title {
  display: inline-block;
  margin: 0;
  padding-bottom: 0.5rem;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: solid 1px #171717;
}

.store-suggestion-list {
  list-style-type: none;
  margin: 0;
  padding: 1.5rem 0 4rem 0;
}

.store-suggestion-product {
margin: 0 0 1rem 0;
}

.store-suggestion-product-link {
  font-family: 'Lora';
  font-size: 14px;
  font-style: italic;
  line-height: 1.20;
  color: #171717;
}

.site-footer {
  padding: 2rem 1rem;
  background-color: #f3f3f3;
}

.footer-help-button {
  display: block;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0 0 1rem 0;
  font-family: 'Raleway';
  font-size: 0.75rem;
  color: #999999;
  line-height: 1.17;
}

.footer-title {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Raleway';
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.19;
  color: #171717;
}

.footer-contact-link {
  display: block;
  text-align: center;
  font-family: 'Lora';
  font-size: 14px;
  font-style: italic;
  line-height: 1.21;
  color: #171717;
}
